body {
  background-color: salmon;
}
.picture {
  background-image: url("http://source.unsplash.com/random/150x150");
  width: 150px;
  height: 150px;
  position: relative;
  margin: 5px;
  cursor: pointer;
}
.empty {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: cornsilk;
}
.drag-over {
  border: dashed 3px black;
}
.hide {
  display: none;
}
.hold {
  border: solid 4px #ccc;
}
